body{
    /*background-color:rgba(0, 0, 0, 0.946);*/
    margin:26px; 
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.888);
    font-family: Faculty Glyphic;
    font-size: 20px;
}
header{
    text-align: justify;
    display: block; 
    border:solid;
    font-size: 30px;
    display: block;
    background-color: rgb(96, 156, 181);
    padding:10px;
    margin: 10px 120px;
    position: relative;
    margin: auto;


}

nav#parte-interactiva{
    background-color:rgb(117, 117, 252);
    padding: 10px;
    border: solid;
    display:flex;justify-content: space-around;

}
section#contenido{
    background-color: rgb(93, 93, 202);
    margin: 10px 60px;
    font-size: 20px;
    align-items: baseline;
    border: solid;
    position: relative;
    padding: 30px 40px;
}
footer{
    position: relative;
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}




/* BOTONES*/
button{
    background-color: rgb(117, 117, 252);
    padding: 10px;
    width: auto;
    height: auto;
    margin: auto;
}
/*SECCION DE LAS IMAGENES */
figure#imagenes{
    text-align: center;
    direction: ltr;
    display: block;
}
img{
    margin: auto;
    width: 300px;
    height: 380px;
    border: solid 8px rgba(0, 0, 0, 0.869);
}
img#imagen_ancha{
    width: max-content;
    height: max-content;
}





/* AQUI IRA MODIFICACIONES DE SOCIAL MEDIAS*/

a{
    background-color: rgb(117, 117, 252);
}

/* AQUI IRA MODIFICACIONES DE SOCIAL MEDIAS*/
.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;}

    .buttons a {
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: #314652;
        color: #f1f1f1;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
        margin-top: 50px;
        margin: auto;

      }
      
      .buttons a:hover {
        transform: scale(1.2);
      }

